
body
{
    background: url("back.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: fit-content;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.container1
{
    background-image: url("./container.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10;
    justify-content: center;
    text-align: center;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 30px;
    margin: auto;
    width: 1200px;
    height: 550px;
}

.container2
{
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin: auto;
    top: 50;
    left: 50;
    right: 50;
    bottom: 50;
    width: 50%;
    padding: 10px;
}

.logo
{
    justify-content: center;
    display: inline-block;
    top: 0px;
    left: 50;
    right: 50;
    bottom: 50;
    width: 120px;
    height: 120px;
    padding: 7px;  
}

.logo1
{
    justify-content: left;
    position: relative; left:85px;
    top: 0px;
    left: 50;
    right: 50;
    bottom: 50;
    width: 100px;
    height: 100px;
    padding: 7px;  
}

.button
{
    display: inline-block;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #792ead;
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(252, 249, 249, 0.384);
}

.button2
{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ec4329d2;
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(252, 249, 249, 0.384);
}

.button3
{
    display: inline-block;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #792ead;
    position: relative; right:-360px; top: -107px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(252, 249, 249, 0.384);
}

.oval
{
    width: 600px;
    height: 35px;
    border: black;
    background: 2px white;
    border-radius: 40px;
    box-shadow: 0 3px 2px rgba(252, 249, 249, 0.384);
}

.oval2
{
    width: 600px;
    height: 75px;
    border: black;
    background: white;
    border-radius: 40px;
    box-shadow: 0 3px 2px rgba(252, 249, 249, 0.384);
}

.oval3
{
    width: 600px;
    height: 35px;
    position: relative; top: -71px;
    border: black;
    background: 2px white;
    border-radius: 40px;
    box-shadow: 0 3px 2px rgba(252, 249, 249, 0.384);
}

.list
{
    width: 800px;
    height: 330px;
    padding-bottom: -50px;
    justify-content: center;
    position: fixed;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative; left: -100px; top: -80px;
}

.index
{
    width: 881px;
    height: 60px;
    background-color: white;
    border: 0.2px black;
    border-radius: 5px;
    border-style: solid;
    align-items: center;
    display: inline-block;
    text-align: center;
    transition: width 2s, height 4s;
    position: relative; left: -50px; top: 0px;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    overflow-y: hidden;
}

.index:hover
{
    width: 881px;
    height: 150px;
}

.rate
{
    position: absolute;
    right: 45px;
    top: 0;
    height: 100%;
    font-size: 2.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

::placeholder 
{
    text-align: center;
}

h3
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h4
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-content: space-between;
    position: relative; 
    bottom: 60px;
}

h2
{
    color: black;
    position: relative; left: -50px; top: 0px;
}

h5
{
    text-align: left;
    color: black;
}

p
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}