<!DOCTYPE html>
<html>
    <head>
        <title>
            You Predict
        </title>
        <link rel="stylesheet" href="show-apps.component.css">
    </head>

    <body>
        <br><br>
        <div class="container1">
            <div class="logo1">
                <img src="assets/img/logo1.png" alt="logo" class="logo1" height="100px" width="100px">
            </div>
            <div class="container2">

                <form>
                <h2>
                <input type="text" placeholder="App name" name="search" class="oval3" required>
                <button class="button3">Search</button>
                </h2>
                </form>

                <div class="list">
                    <div class="index"></div>
                    <div class="index"></div>
                    <div class="index"></div>
                    <div class="index"></div>
                    <div class="index"></div>
                    <div class="index"></div>
                    <div class="index"></div>
                    <div class="index"></div>
                    <div class="index"></div>
                    <div class="index"></div>
                    <div class="index"></div>
                    <div class="index"></div>
                </div>
                
                <h4>Are you looking for predict your app rate?                
                <a routerLink="/getRate"><button class="button2">Get rate</button></a>
                </h4>
            </div>
        </div>
    </body>
</html>